@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <form id="formEntrada" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="videoFile">Escolha um vídeo para enviar:</label>
            <input type="file" class="form-control-file" id="videoFile" name="videoFile" accept="video/*" required />
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

    <div id="videoInfo" class="mt-4"></div>
</div>

@section Scripts {
    <script src="~/js/upload.js"></script>
}
