@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <video id="videoPreview" class="video-preview" controls style="display: none;"></video>

    <form id="formEntrada" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="videoFile"></label>
            <input type="file" class="form-control-file" id="videoFile" name="videoFile" accept="video/*" required />
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>

    <div id="videoInfo" class="mt-4"></div>
</div>

@section Scripts {
    <script src="~/js/upload.js"></script>
}
